.detailPage {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 1200px;

    .details {
        flex: 2;
        margin-right: 20px;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .info {
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .post {
                        h1 {
                            font-size: 24px;
                            font-weight: bold;
                            color: #333;
                            margin-bottom: 10px;
                        }

                        .address {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            color: #777;

                            img {
                                width: 20px;
                                margin-right: 8px;
                            }
                        }

                        .price {
                            margin-top: 10px;
                            font-size: 24px;
                            font-weight: bold;
                            color: #4571bb;
                        }
                    }

                    .user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        span {
                            margin-top: 10px;
                            font-size: 18px;
                            color: #555;
                        }
                    }
                }

                .bottom {
                    margin-top: 20px;
                    font-size: 16px;
                    color: #555;
                }
            }
        }
    }

    .features {
        flex: 1;
        background-color: #fcf5f3;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .wrapper {
            .title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
            }

            .general {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .key-feature {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: #555;

                    img {
                        width: 24px;
                        margin-right: 8px;
                    }
                }
            }

            .list-feature {
                .feature {
                    color: #333;
                    margin-bottom: 10px;
                    display: inline-block;
                }
            }

            .mapContainer {
                margin-top: 20px;
                height: 200px;
                border: 1px solid #ddd;
                border-radius: 10px;
                overflow: hidden;
            }

            .buttons {
                margin-top: 10px;
                display: flex;
                gap: 15px;

                button {
                    flex: 1;
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 15px;
                    transition: background-color 0.3s;
                    font-size: 16px;
                    gap: 10px;
                    &:hover {
                        color: #fff;
                        background-color: #4571bb;
                    }
                }
                button.numberPhone {
                    margin-top: 10px;
                    padding: 20px 0;
                    gap: 10px;
                    color: #f1f1f1;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: #4571bb;
                }
            }
        }
    }
}
