.form-container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
    }

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    input {
        width: 330px;
    }

    .option-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        div {
            text-align: center;

            label {
                display: block;
                cursor: pointer;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #218838;
        }
    }
}
